<!DOCTYPE HTML>
<html ng-app="app">
<head>
	<title>B2 Task 1 and 2 </title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="main.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
	<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
  <script src="task2.js"></script>
</head>
<body ng-controller="MainController">
	<!-- place a container -->
	<div class="container-fluid">

		<div class="row bg-primary">
			<div class="col page-header">
				<h1>Branch2 Front-End Test</h1>				
			</div>
		</div>			
		
		<div class="container">
			<!-- place a row with two columns each taking half the screen on a medium screen or larger, and the whole screen on a small or extra-small device -->
			<div class="row">
				<!-- the following should be on the left half of the page inside a container and row -->
				<div class="col-md-6">
					<h1>Branch2 Frontend Task 1</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						<br />
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>				
				</div>

				<!-- the following should be on the right half of the page -->
				<div class="col-md-5 col-md-offset-1">
					<figure>
						<img class="img-responsive" src="http://placehold.it/400x400">
					</figure>
				</div>

			<!-- end of row, start a new row -->		
			</div>


			<div class="row">
				<!-- the following should be on the left half of the page inside a container and row -->
				<div class="col-md-6">
					<h1>Task 2 - Angular</h1>
					<form ng-submit="getColors()">
						<div class="form-group">
							<label for="colorInput">Enter a number between 1 and 10</label>
							<input type="number" ng-model="numColors" class="form-control input-lg" id="colorInput" min="1" max="10" required/>							
						</div>
						<div class="form-group">
							<button class="btn btn-block btn-success">Submit</button>											
						</div>
					</form>
				</div>

				<!-- the following should be on the right half of the page -->
				<div class="col-md-5 col-md-offset-1">
				<!-- display the colors here -->
					<h1>Random Colors</h2>
					<div class="colors row">
						<color-block ng-repeat="color in randomColors | orderBy: '$index'" class="col-md-4 random-colors">
							<div class="thumbnail">
								<div class="color-text">
									<h3>#{{color}}</h3>
								</div>
								<div class="save-color" ng-click="savedColors.$add(color)">
									Save
								</div>
							</div>
						</color-block>
					</div>
					
				</div>
			<!-- end of row -->			
			</div>

			<div class="colors row">
				<div class="col-md-10 col-md-offset-1">
					<h1 class="text-center">Saved Colors</h2>

					<color-block ng-repeat="color in savedColors | orderBy: '$index'" class="col-md-3">
						<div class="thumbnail">
							<div class="color-text text-center">
								<h3>#{{color.$value}}</h3>
							</div>						
						</div>
					</color-block>

				</div>
			</div>
			<!--  end of inner container -->
		</div>
	<!-- end of fluid container -->
	</div>


</body>
</html>